{"filter":false,"title":".gitignore","tooltip":"/.gitignore","ace":{"folds":[],"scrolltop":479,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":0,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"hash":"18b6ddd2774cf51acd8e5fd665d1289bb20ea07d","undoManager":{"mark":-1,"position":-1,"stack":[]},"timestamp":1580361308614}