.jumbotron {
	color: #2c3e50;
	background: #ecf0f1
}
.cover{
	border:5px;
	border-radius: 10px;
}
.Query{
	color: #2c3e50;
	background: #ecf0f1
}
.info{
	margin:50px;
	font-size: 25px;
}
.flex-container {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}

.flex-item {
	width: 30%;
	margin: 10px;
}

.flex-item > img {
	width: 100%;
}